@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #fff;
    --color-fill: #f26457;
    --color-nav-bg: #f26457;
  }

  .tenant-immensa {
    --color-text-base: #fff;
    --color-fill: #45858c;
    --color-nav-bg: #45858c;
  }
}
